/*----------Тільки планшет-----------*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 720px;
  }
  .section {
    padding: 100px 0;
  }

  .header-list {
    margin-left: 59px;
    margin-right: 35px;
  }
  .header-list {
    gap: 20px;
  }
  .header-tel {
    order: 1;
  }
  .booking-tel-wrap {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 160px;
  }

  .hero-wrap {
    background-image: linear-gradient(
        var(--hero-bg-color),
        var(--hero-bg-color)
      ),
      url('../images/slider/slider-img1-tab.jpg');
    padding: 272px 98px 237px;
  }
  .about-wrap {
    max-width: 330px;
  }
  .about-title {
    font-size: 28px;
  }

  .about-text {
    margin-bottom: 54px;
  }
  .about-list {
    flex-wrap: wrap;
  }

  .prices {
    background-color: var(--background-color-prices);
    background-image: url(../images/prices/bg-prices-tab.png);
  }
  .benefits-after-title {
    margin-bottom: 44px;
  }

  .benefits-list {
    width: 452px;
    margin-left: auto;
  }

  .benefits-item {
    width: 210px;
  }

  .barbers-container {
    width: 450px;
    margin: 0 auto;
  }
  .gallery-list {
    flex-wrap: wrap;
  }
  .section-contacts {
    background-color: var(--second-background-color);
    background-image: url(../images/bg-contacts-tab.png);
  }
  .contacts-working-wrap {
    display: flex;
    gap: 30px;
  }
  .contacts-list {
    width: 330px;
  }
  .contacts-item:first-child {
    text-align: left;
    width: 255px;
  }
}

/*---------- планшет та комп-----------*/

@media screen and (min-width: 768px) {
  .after-title {
    font-size: 18px;
    line-height: 1.66;
  }

  .menu-hamburger {
    display: none;
  }

  .header-container,
  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
  }

  .header-logo:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-color);
    transition: color 300ms;
  }

  .header-link:is(:hover, :focus) {
    color: var(--accent-color);
  }
  .booking-tel-wrap {
    display: flex;
  }

  .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
  }

  .header-tel:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .hero-wrap {
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    flex-grow: 1;
  }

  .hero-container {
    display: flex;
  }

  .soc-hero {
    padding-left: 40px;
    padding-bottom: 40px;
    width: 100px;
    display: flex;
    align-items: flex-end;
  }

  .hero-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
  .hero-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--second-color);
  }

  .hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    transition: color 300ms;
    color: var(--second-color);
  }
  .hero-link:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .hero-after-title {
    max-width: 362px;
  }

  .about-container {
    display: flex;
    gap: 30px;
  }
  .about-list {
    display: flex;
    gap: 30px;
  }
  .about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.85;
  }
  .prices-title {
    font-size: 42px;
  }
  .prices-item-text {
    font-size: 18px;
    line-height: 1.67;
  }
  .benefits-wrap {
    width: 500px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-list {
    display: flex;
    gap: 30px;
  }

  .online-form-wrap {
    display: flex;
    gap: 30px;
  }

  .form-field {
    flex-grow: 1;
  }

  .footer {
    padding: 56px;
  }
}

/*---------- Тільки комп-----------*/

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  .title {
    font-size: 42px;
  }

  .header {
    padding: 40px 15px 0 0;
  }

  .header-logo {
    margin-right: 130px;
  }
  .header-list {
    gap: 30px;
  }
  .booking-tel-wrap {
    align-items: center;
    gap: 43px;
    margin-left: auto;
  }
  .hero-wrap {
    background-image: linear-gradient(
        var(--hero-bg-color),
        var(--hero-bg-color)
      ),
      url('../images/slider/slider-img1.jpg');
    padding: 272px 100px 208px;
  }
  .hero-title {
    font-size: 72px;
  }
  .about-wrap {
    max-width: 470px;
  }

  .about-text {
    margin-bottom: 42px;
  }
  .prices {
    background-color: var(--background-color-prices);
    background-image: url(../images/prices/bg-prices.png);
  }
  .prices-list {
    width: 100%;
  }
  .prices-wrap {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .benefits-container {
    display: flex;
    justify-content: center;
  }
  .benefits-wrap {
    order: 1;
  }
  .benefits-item {
    width: 170px;
  }
  .benefits-list {
    width: 370px;
    margin-right: 130px;
  }
  .barbers-list {
    display: flex;
    gap: 30px;
  }
  .section-contacts {
    background-color: var(--second-background-color);
    background-image: url(../images/bg-contacts.png);
  }
  .section-wrap {
    display: flex;
  }
  .section-online,
  .section-contacts {
    flex-grow: 1;
  }
  .contacts-list {
    margin-bottom: 77px;
  }
  .online-textarea {
    height: 76px;
  }

  .online-label-textarea {
    bottom: 10px;
  }
  .online-textarea:focus + .online-label-textarea,
  .online-textarea:not(:placeholder-shown) + .online-label-textarea {
    transform: translateY(-76px);
  }
  .online-input {
    font-size: 14px;
  }
  .footer {
    padding: 56px;
  }
}
