:root {
  --accent-color: #ff6c00;
  --main-color: #fff;
  --second-color: #303030;
  --text-color: #555;
  --second-text-color: #9da4bd;
  --background-color: #f7f7f7;
  --second-background-color: #191c26;
  --hero-bg-color: rgba(25, 28, 38, 0.2);
  --background-color-prices: #111319;
  --bg-prices1: #171a24;
  --bg-prices2: rgba(23, 26, 36, 0.2);
  --bg-backdrop: rgba(25, 28, 38, 0.656);
}
