p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px 0;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.online-title,
.contacts-title,
.prices-title {
  margin-bottom: 40px;
  color: #fff;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: "";
  background-color: currentColor;
  width: 60px;
  height: 1px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background: transparent;
}
.btn:is(:hover, :focus) {
  background-color: #ff6c00;
  color: #fff;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}
.header-logo:hover {
  fill: #ff6c00;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;
  transition: color 300ms;
}

.header-link:is(:hover, :focus),
.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.header-tel {
  margin-right: 43px;
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.header-tel:hover {
  color: #ff6c00;
}

.header-btn {
  margin-right: 17px;
}

.hero-container {
  display: flex;
  height: 680px;
  /* align-items: flex-end; */
}

.soc-hero {
  padding-left: 40px;
  padding-bottom: 40px;
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-wrap {
  flex-grow: 1;
  padding: 272px 100px 208px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/slider/slider-img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms;
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: "Raleway";
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 20px;
}

.hero-after-title {
  max-width: 362px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 476px;
}

.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555;
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555;
  margin-bottom: 42px;
}

.about-btn {
  color: #303030;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.prices {
  background-color: #111319;
  background-image: url(../images/bg-prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #fff;
  display: block;
  margin: 0 auto;
}

.prices-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.prices-list {
  width: calc((100% - 30px) / 2);
  border: 1px solid #fff;
  padding: 30px 20px;
}

.prices-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item-text:first-child {
  order: -1;
}

.benefits {
  padding-top: 120px;
}

.benefits-container {
  display: flex;
  gap: 130px;
  padding-left: 85px;
  padding-right: 100px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item {
  background-color: background-color;
  padding: 20px 24px;
  width: 170px;
  height: 133px;
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  text-align: center;
  display: block;
  color: #303030;
}

.benefits-item > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  vertical-align: top;
  color: transparent;
  text-shadow: 0 9px #ff6c00;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 33px;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-align: center;
  color: #303030;
}

.benefits-title {
  max-width: 430px;
}

.benefits-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555;
}

.barbers {
  background: background-color;
  padding-top: 120px;
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-item-wrap {
  padding-top: 30px;
}

.barbers-item-title {
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-social-item {
  width: 40px;
  height: 40px;
}

.barbers-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #303030;
  transition: color 300ms;
}

.barbers-social-link:is(:hover, :focus) {
  color: #ff6c00;
}

.barbers-social-icon {
  fill: currentColor;
}

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

.online-contacts-container {
  background-color: #191c26;
  background-image: url(../images/bg-contacts.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px) 100%;
  background-position: right;
}

.contacts-wrap {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 120px;
}

.online {
  width: calc(50% + 15px);
}

.online-form {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

.online-form-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.form-field {
  position: relative;
}

.online-label {
  position: absolute;
  left: 0;
}

.online-input:not(:-moz-placeholder-shown) + .online-label {
  transform: translateY(-20px);
}

.online-input:focus + .online-label,
.online-input:not(:placeholder-shown) + .online-label {
  transform: translateY(-20px);
}

.online-input:is(:hover, :focus) + .online-label {
  color: #fff;
}

.online-input {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  background-color: transparent;
  width: 270px;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.online-input:hover, .online-input:focus, .online-input:active {
  outline: none;
  border-bottom-color: #fff;
  color: #fff;
}

/* transform: translateY(-100%); */
.online-textarea {
  width: calc(100% - 30px);
  min-height: 85px;
  resize: none;
  background-color: transparent;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.online-textarea:hover, .online-textarea:focus, .online-textarea:active {
  outline: none;
  border-bottom-color: #fff;
}

.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
  /* margin-bottom: 40px; */
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-item:first-child {
  font-weight: 700;
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}

.contacts-working-hour {
  color: #fff;
}

.contacts-working-hour.pre-title::before {
  color: rgba(157, 164, 189, 0.4);
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9da4bd;
  margin-left: 95px;
}

.footer-copyright span {
  font-size: 16px;
}

.footer-list {
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-link:is(:hover, :focus) {
  color: #ff6c00;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.656);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(0);
  width: 500px;
  min-height: 550px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 30px;
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-500%, -50%);
}

.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid #999999;
  /* background-color: #d5c5c5; */
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  margin-bottom: 10px;
}
.modal-close:is(:hover, :focus) {
  background-color: #ff6c00;
  border: none;
  fill: #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: #303030;
  text-align: center;
  margin-bottom: 15px;
}

.modal-field {
  margin-bottom: 15px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 14px;
  color: #303030;
  padding-left: 30px;
}

.modal-input:focus,
.modal-message:focus {
  border-color: #ff6c00;
}

.modal-input:focus + .modal-icon {
  fill: #ff6c00;
}

.modal-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translatey(-50%);
}

.modal-message {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 14px;
  color: #303030;
  padding: 10px;
  resize: none;
}

.input-text {
  font-size: 12px;
  color: #555555;
  margin-bottom: 5px;
  display: inline-block;
}

.modal-input::-moz-placeholder, .modal-message::-moz-placeholder {
  color: #9da4bd;
  font-size: 12px;
}

.modal-input::placeholder,
.modal-message::placeholder {
  color: #9da4bd;
  font-size: 12px;
}

/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.426);
} */
/* .modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 38, 0, 0.426);
} */
.check-text {
  font-size: 14px;
  color: #555555;
  display: flex;
  align-items: center;
  position: relative;
}

.check-text .svg {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text .svg {
  background-color: #ff6c00;
  border: none;
  fill: #fff;
}

.link-privacy-policy {
  color: #303030;
  margin-left: 5px;
}
.link-privacy-policy:hover, .link-privacy-policy:focus {
  color: #ff6c00;
}

.submit-btn {
  color: #303030;
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */