$accent-color: #ff6c00;
$main-color: #fff;
$second-color: #303030;
$text-color: #555;
$second-text-color: #9da4bd;
$before-color: rgba(157, 164, 189, 0.4);
$background-color: #f7f7f7;
$second-background-color: #191c26;
