.footer {
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: $second-text-color;
  margin-left: 95px;
}
.footer-copyright span {
  font-size: 16px;
}
.footer-list {
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: $second-color;
}

.footer-link:is(:hover, :focus) {
  color: $accent-color;
}
