.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-pre-title {
  color: $second-color;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}
