.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 130px;
  &:hover {
    fill: $accent-color;
  }
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: $main-color;
  transition: color 300ms;
}

.header-link:is(:hover, :focus),
.hero-link:is(:hover, :focus) {
  color: $accent-color;
}
.header-tel {
  margin-right: 43px;
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main-color;
  &:hover {
    color: $accent-color;
  }
}

.header-btn {
  margin-right: 17px;
}
